@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Patrick Hand';
}

body {
    background-image: url(../images/fondo111.jpg);
}

nav{
  
    text-align: center;

   

}
nav:hover{
    background-image: url(../images/fondoneon.jpg);
}
.btn{
    align-items: center;
    text-align: center;
    display:inline-block;
    margin: 25px;
    padding: 25px;
    text-decoration: none;
    text-transform: uppercase;
    transform: scale(1.1);
    color: rgb(238, 235, 235);
    border: none;
    border-radius: 50px;
}
.btn:hover
{
   background-color: #fff;
   color: black;
}
.container {
    max-width: 700px;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(29,33,253,1) 50%, rgba(0,0,0,1) 100%);
    margin: auto;
    padding: 100px;
    text-align: center;
}

.container-operadores {
    display: flex;
    justify-content: center;
}

.container-operadores button {
    border: none;
    margin: 90px px;
    height: 100px;
    width: 100px;
    border-radius: 50%; 
    border: 2px solid rgb(72, 12, 168);
    cursor: pointer;
    transition: .5s;
}

.container-operadores button:hover {
    transform: scale(1.3);
}

.container-operacion {
    margin: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border: 1px solid rgb(107, 16, 192);
    background-color: rgb(63, 92, 172);
    box-shadow: 10px 10px 10px rgb(21, 35, 163);
    padding: 6px 0;
}

.container-operacion input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(102, 108, 133);
    font-size: 80px;
    width: 80px;
    text-align: center;
    outline: none;
}

#msj_correccion {
    background-color: rgb(177, 228, 225);
    border: none;
    font-size: 30px;
    border: 8px solid #000;
    padding: 10px;
    transition: .5s;
    border-radius: 5px;
    cursor: pointer;
}

#corregir:hover {
    transform: scale(2 .2);
}

.activado {
    background-color: rgb(77, 97, 124);
    color: #fff;
    transform: (1.3);
}

i {
    font-size: 70px;
    display: inline-block;
    margin: 10px;
}

#msj_correccion {
    text-align: left;
}

.fa-face-frown {
    color: rgb(226, 14, 14);
    animation: zoom .5s forwards
}

.fa-face-grin {
    color: rgba(245, 229, 8, 0.938);
    animation: zoom .5s forwards
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

